<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConnectorV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="sqltestEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev.bizem.net;initial catalog=sqltest;persist security info=True;user id=CenkYenikoylu;password=Sw1rl3y*Sw1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
    
    <add name="sqltestEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SR-EMUTABAKAT;initial catalog=Mutabakat;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <ConnectorV2.Properties.Settings>
      <setting name="ConnectorV2_sablon1_satici_anaveri_ZISISMUT01"
        serializeAs="String">
        <value>http://SR-SRPAPP1.SOLEN.LOCAL/sap/bc/srt/rfc/sap/zisismut01/200/zisismut01/zisismut01</value>
      </setting>
      <setting name="ConnectorV2_sablon1_satici_hareket_ZISISMUT02"
        serializeAs="String">
        <value>http://SR-SRPAPP1.SOLEN.LOCAL/sap/bc/srt/rfc/sap/zisismut02/200/zisismut02/zisismut02</value>
      </setting>
      <setting name="ConnectorV2_sablon1_satici_babs_ZISISMUT05" serializeAs="String">
        <value>http://SR-SRPAPP1.SOLEN.LOCAL/sap/bc/srt/rfc/sap/zisismut05/200/zisismut05/zisismut05</value>
      </setting>
      <setting name="ConnectorV2_sablon1_musteri_anaveri_ZISISMUT03"
        serializeAs="String">
        <value>http://SR-SRPAPP1.SOLEN.LOCAL/sap/bc/srt/rfc/sap/zisismut03/200/zisismut03/zisismut03</value>
      </setting>
      <setting name="ConnectorV2_sablon1_musteri_hareket_ZISISMUT04"
        serializeAs="String">
        <value>http://SR-SRPAPP1.SOLEN.LOCAL/sap/bc/srt/rfc/sap/zisismut04/200/zisismut04/zisismut04</value>
      </setting>
      <setting name="ConnectorV2_sablon1_musteri_babs_ZISISMUT06" serializeAs="String">
        <value>http://SR-SRPAPP1.SOLEN.LOCAL/sap/bc/srt/rfc/sap/zisismut06/200/zisismut06/zisismut06</value>
      </setting>
      <setting name="ConnectorV2_webservis_mutabakat_Mutabakat" serializeAs="String">
        <value>https://mutabakat.solen.com.tr/ws/Mutabakat.asmx</value>
      </setting>
    </ConnectorV2.Properties.Settings>
  </applicationSettings>
</configuration>